DATABASE_URL="postgresql://<username>:<passwword (if it has @ use %40 instead of it)>@127.0.0.1:5432/<DbName>?schema=public"
TESTS_DATABASE_URL="postgresql://postgres:zaq1%40WSX@127.0.0.1:5432/DbTests?schema=public"
NODE_ENV="development"
SECRET = "secret"
SERVICE_PORT = 4010
SERVICE_HOST = "localhost"

BCRYPT_SALT = 10

RABBIT_URL = "amqp://guest:guest@localhost:5672"
RABBIT_AUTH_QUEUE = "auth_queue"
