DATABASE_URL="postgresql://<username>:<passwword (if it has @ use %40 instead of it)>@127.0.0.1:5432/<DbName>?schema=public"
TESTS_DATABASE_URL="postgresql://postgres:zaq1%40WSX@127.0.0.1:5432/DbTests?schema=public"
NODE_ENV="development"

PG_HOST='127.0.0.1'
PG_PORT=5432
PG_DB='postgres'
PG_USER='postgres'
PG_PWD="zaq1@WSX"

RABBIT_URL = "amqp://guest:guest@localhost:5672"
RABBIT_AUTH_QUEUE = "auth_queue"
